html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
* { box-sizing: border-box; }
.iframeWrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.siteFrame {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
